html{
    font-size: 18px;
}
@media screen and (min-width: 800px){
    html{
        font-size: 15px;
    }    
}
.nav{}
.nav-box{
    height: 3rem;
    background: #eee;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-btn{
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 15px;
    background: #d5d5d5;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}
.nav-content{
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 70%;
    background: #d5d5d5;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 0;

    
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform 300ms linear;
    
}
.nav-content.active{

    -webkit-transform: none;
    transform: none;
    transition: transform 300ms linear;
}
.nav-content > div[class]{
    display: flex;
    margin-bottom: 2rem;
}
.nav-menu *{
    list-style: none;
}
.menu-block > ul{
    flex: 0 0 100%;
}
.nav-menu, .nav-menu-catalog{
    width: 100%;
    margin: 0;
    padding: 0;
    transition-delay: 0.1s;
    transition-duration: 0.4s;
}
.nav-menu > li, .nav-menu-catalog > li{
    padding: 0.75rem 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    list-style: none;

}

//Обычный дропдайн

.nav-menu > li.dpropdown{position: relative;}
.nav-menu > li.dpropdown > ul {
    display: none;
    padding: 0.5rem 0;
    transition: all 2s linear;
}
.nav-menu > li.dpropdown.active > ul {
    display: block ;
    transition: all 2s linear;
}
.nav-menu > li.dpropdown > ul > li{
    display: block;
    padding: 0.75rem 0;
    width: 100%;
}
.child-none > * {
    display: none !important;
    transition-delay: 0.5s;
}

// Выезжающий каталог
.nav-menu > li.dpropdown > ul > li{
    padding: 0.75rem 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
}
.nav-menu > li.dpropdown{position: relative;}
.nav-menu > li.dpropdown-c > ul {
    position: absolute;
    top:0;
    left: 100%;
    right: -100%;
    padding: 0;
}
.child-none > * {
    display: none !important;
    transition-delay: 0.5s;
}